<h1>Modification de l'article "<%= @product.name %>"</h1>

<%= form_with(model: @product) do |form| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup"><%= form.label :name %> :</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-user" style="margin: 4px 0 4px 0!important;"></i>
          </span>
        </div>
        <%= form.text_field :name, class: "form-control", id: "inlineFormInputGroup", placeholder: "Nom du produit" %>
      </div>
    </div>

    <!--<div class="field">
      <%= form.label :name %> :
      <%= form.text_field :name %>
    </div>-->

    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup"><%= form.label :currency %> :</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-money-bill" style="margin: 4px 0 4px 0!important;"></i>
          </span>
        </div>
        <%= form.text_field :currency, class: "form-control", id: "inlineFormInputGroup", placeholder: "Devise du pays pour la vente" %>
      </div>
      <span id="passwordHelpInline" class="form-text text-danger">
        Mettre une devise EUR ou USD etc...
      </span>
    </div>

    <br>

    <!--<div class="field">
      <%= form.label :currency %> :
      <%= form.text_field :currency %>
    </div>
    <span id="passwordHelpInline" class="form-text text-danger">
      Mettre une devise EUR ou USD etc...
    </span>-->

    <div class="col-auto form-group">
      <label class="sr-only" for="inlineFormInputGroup"><%= form.label :prix %> :</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-euro-sign" style="margin: 4px 0 4px 0!important;"></i>
          </span>
        </div>
        <%= form.text_field :price_cents, class: "form-control", id: "inlineFormInputGroup", placeholder: "Prix du produit" %>
      </div>
      <span id="passwordHelpInline" class="form-text text-danger">
        Mettre un prix entre 10 et 20 €.
      </span>
    </div>

    <!--<div class="field">
      <%= form.label :prix %> :
      <%= form.text_field :price_cents, value: "✓" %>
    </div>
    <span id="passwordHelpInline" class="form-text text-danger">
      Mettre un prix entre 10 et 20 €.
    </span>-->

    <br>

    <div class="col-auto form-group">
      <label class="sr-only" for="inlineFormInputGroup"><%= form.label :description %> :</label>
      <div class="input-group mb-2">
        <%= form.text_area :description, class: "form-control", id: "inlineFormInputGroup", placeholder: "Description du produit", rows: 8 %>
      </div>
      <span id="passwordHelpInline" class="form-text text-danger">
        Description du produit entre 10 et 255 mots autorisés!.
      </span>
    </div>

    <!--<div class="field">
      <%= form.label :description %> :
      <%= form.text_area :description %>
    </div>-->

    <br>

    <div class="actions">
      <%= form.submit "Modifier le produit", class: "btn btn-success", data: { disable_with: "En cours..." } %> | 
      <%= link_to "Détails du produit", @product, class: "btn btn-info" %> | 
      <%= link_to "Retour à l'accueil", products_path, class: "btn btn-danger" %>
    </div>

  </div>

<% end %>