<!DOCTYPE html>
<html>
  <head>
    <title>Mycryptoblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# Bootstrap CSS %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <%# Stripe %>
    <script src="https://js.stripe.com/v3/"></script>
    <%# Bootstrap JS %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <%# FontAwesome %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>

  <body>
    
    
    <div class="container">
      <p class="notice"><%#= notice %></p>
      <p class="alert"><%= alert %></p>
      <br>
      <%= link_to "Produits", products_path %>
      <%= link_to "Github", "https://github.com/StefanoElAngeluss/mycryptoblog", target: "_blank" %>
      <%= render "navbar/navbar" %>
      <hr>
      <h1>Votre Panier</h1>
      <% @cart.each do |product| %>
        <%= product.name %>
        --
      <% end %>

      <% if @cart.present? %><br><br>
        <%= @cart.collect { |item| item.to_builder.attributes! } %>
        </p>
          <%= button_to "Achetez maintenant!", checkout_create_path, remote: true, data: { disable_with: "validating..." }, class: "btn btn-sm btn-outline-primary" %>
        </p>
      <% end %>

      <hr>
      <%= yield %>
    </div>
  </body>
</html>
